@model Product

<div class="card mb-4 p-3">
    <div class="row align-items-center">
        <!-- Блок зображення -->
        <div class="col-md-3 text-center">
            <img src="@Model?.PictureUrl" alt="Product Image" class="img-fluid rounded" style="width: 150px; height: auto;">
        </div>

        <!-- Блок інформації про продукт -->
        <div class="col-md-6">
            <h4>
                @Model?.Name
            </h4>
            <p class="text-muted">@Model?.Description</p>

            <div class="mb-2">
                <span class="fw-bold">Price:</span>
                <span class="badge bg-primary text-white">@Model?.Price.ToString("c")</span>
            </div>
        </div>
        <!-- Блок ціни, кількості та кнопок -->
        <form id="@Model?.ProductId" asp-controller="Cart" asp-antiforgery="true">
            <input type="hidden" asp-for="ProductId" />
            <input type="hidden" name="returnUrl"
                   value="@ViewContext.HttpContext.Request.PathAndQuery()" />
            <span class="card-text p-1">
                @Model?.Description
                <button type="submit"
                        class="btn btn-success btn-sm pull-right" style="float:right">
                    Add To Cart
                </button>
            </span>
        </form>
    </div>
</div>
