@model Product

<div class="card mb-4 p-3">
    <div class="row align-items-center">
        <!-- Блок зображення -->
        <div class="col-md-3 text-center">
            <img src="@Model?.PictureUrl" alt="Product Image" class="img-fluid rounded" style="width: 150px; height: auto;">
        </div>

        <!-- Блок інформації про продукт -->
        <div class="col-md-6">
            <h4>
                @Model?.Name
            </h4>
            <p class="text-muted">@Model?.Description</p>
        </div>

        <!-- Блок ціни, кількості та кнопок -->
        <div class="col-md-3 align-items-end">
            <div class="mb-2" >
                <span class="fw-bold">Price:</span>
                <span class="badge bg-primary text-white">@Model?.Price.ToString("c")</span>
            </div>
            <div class="d-flex gap-2">
                <button type="submit"
                        class="btn btn-success btn-sm pull-right align-self " style="float:right">
                    Add To Cart
                </button>
            </div>
        </div>
    </div>
</div>
